
a
h2 Olapic Widget Performance

- const olapicWidgetPerform = pageInfo.data.olapicWidgetPerform.pageSummary

//- p #{JSON.stringify(olapicWidgetPerform)}

if olapicWidgetPerform

  .row
    .one-half.column
      table
        tr
          th AVG Metrics
          th Time in second
        tr
          td Script loading time
          td XX
        tr
          td CSS load time:
          td XX
        tr
          td Templates load time
          td XX
        tr
          td Script process time
          td XX
        tr
          td Time until first image load.
          td XX

    .one-half.column
      table
        tr
          th(colspan="2") Media analisis.
        tr
          td First loaded Asset
          td Slower loaded Asset
        tr
          td
            img.screenshot(src=olapicWidgetPerform.firstMedia.request.url, alt='First Media', style='max-width: 250px;')
          td
            img.screenshot(src=olapicWidgetPerform.slowerMedia.request.url, alt='Slower Media', style='max-width: 250px;')

else
 p Olapic widget was not found on the site.


//- Script loading time: XXs
//- CSS load time:
//- Tempaltes load time:
//- Script process time: XXs

//- Time since load: XXs
//- Time to see the first asset:

//- First Asset loaded:
//- <img>
